*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.dvi
*.xdv
_build/
pdfa.xmpi
creationdate.lua
creationdate.timestamp
igrmk.pdf
igrmk.png
.DS_Store
